.life{
   color:red; 
}
img{
    float:right;

}
.sidebars{
    float: left;
    width: 30%;
    background-color: seagreen;
}
.column{
    width: 350px;
    color:blue;
    float: left;
}
.text-box{
    border: blue;
    border:2px solid red
}
body{
    font-family: fantasy;
}
